<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">

       <% question = @quiz.questions.first %>
       <div id="question-form" class="question">
       <%= render 'quizzes/question-form', submission: @submission, question: question%>
     </div>
    </div>

  </div>

</div>


<!-- one question and response per view -->
<!-- on Response.create, iterate to next question, redirect to same page -->
<!-- if @quiz.questions.last, then redirect to your next view -->
