const chat = document.querySelector('.chat')
chat.insertAdjacentHTML('beforeend', '<div class="message"><div class="outbound"><%=@message.content%></div></div>')
const input = document.findElementById('message_content');
input.value = '';
input.blur();

