<div class="container">
  <div class="chat">
    <div class="conversation">
      <% @messages.each do |m| %>
        <% if m.user = current_user %>
          <div class = "outbound">
            <%= m.content %>
          </div>
        <% else %>
          <div class="inbound">
            <% m.content %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="enter-message">
       <%= simple_form_for [@submission, Message.new] do |f|%>
          <div class="form-box-chat">
            <div class="form-inputs">
              <%= f.input :content, :placeholder => "Message", label: false, input_html: { class: 'message-input'} %>
            </div>
            <div class="form-actions">
              <%= f.submit "Send", class:"btn btn-primary socksup-secondary chat-button" %>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
