
<% @listings.each do |listing| %>
  <% if listing.employer.city == params[:query][:city] %>
      <ul>
        <li><%= listing.title %></li>
        <li><%= listing.employer.city %></li>
        <li><%= listing.employer.name %></li>
      </ul>
    <% end %>
<% end %>

