.banner-listing-show {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 40vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: center;

  h1 {
    font-size: 50px;
    bottom: 71px;
  }
  h2 {
    font-size: 28px;
    bottom: 40px;
    margin-top: -15px;
    margin-bottom: -10px;
  }
  h3 {

    bottom: 17px;
    font-size: 20px;
  }
}
.brand-link{
  color: $brand-green;
  text-decoration: none;

  &:active{
    text-decoration: none;
    opacity: .7;
    color: $brand-green;
  }
}


.fa-map-marker-alt:before {
  color: $brand-success;
}

.banner-content-listing-show {
  text-align: center;
  text-shadow: 2px 2px 5px #333;
  position: relative;
  margin-top: 30px;
}

.btn-pin {
    left: 33px;
    bottom: -75px;
    text-shadow: none;
    max-width: 281.25px;
    margin-top: -91px;
    margin-bottom: 50px;
}

.banner-content-listing-city {
  text-shadow: 2px 2px 5px #333;
}


.listing-show-job-info {
  margin-top: 70px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

}

.listing-show-job-hours {
  margin-top: 14px;
}

.listing-show-job-dates {
  width: 60%;
  &span {
    display: inline-block;
  }
}

.listing-show-job-description {
  justify-content: center;
  h4 {
    text-align: center;
  }
  p {
    text-align: center;
    margin: 0 auto;
    width: 75%
  }
}

.horizontal {
  background-color: #a9a9a9;
  margin-top: 50px;

  position: relative;
}

.mapboxgl-canvas #map {
  width: 100vw;
  height: 500px;
  z-index: -1;
  overflow: hidden;
}

#map {
  width: 100vw !important;
  margin-bottom: 150px;
}


#job-info-hr {
  width: 50vw;
  border-color: $brand-success;
}

.box-address-over-map {
  position: absolute;
  background-color: white;
  border-top: 6px solid $brand-success;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(150, 150, 150, 0.1);
  left: 2.5%;
  bottom: -45px;
  z-index: 5;
  padding: 20px;
}

