.banner-profile {
  color: white;
  text-align: center;
  height: 30vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-shadow: 2px 2px 5px #333;
}

.profile-picture {
  width: 200px;
  height:200px;
  border-radius: 50%;
  margin-bottom: -125px;
  border: 3px solid white;
  position: relative;
}

.profile-picture-tiny {
  width: 80px;
  height:80px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  border: 3px solid white;
  position: absolute;
  bottom: -70px;
  right: 70px;
}

.profile-picture-inbox {
  width: 50px;
  height:50px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  border: 3px solid white;
}

.applicant-name {
  padding-top: 15px;
}
