<div class="banner-profile" style="background: #02AAB0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
  <div class="banner-content-profile">
    <h3><%= current_user.first_name%> <%= current_user.last_name%></h3>
    <%= image_tag current_user.photo, class: "profile-picture" %>
  </div>
</div>

<div class="inbox-container">
  <%= render 'shared/user-submissions-inbox' %>
</div>
