<div class="inbox-container"></div>
  <div class="inbox">
    <h4>Applicants</h4>
    <%@inbound_submissions.each do |s|%>
      <div class="inbox-card">
        <div class="inbox-info inbox-info-left">
          <div class="big">
            <%= "#{s.user.first_name} #{s.user.last_name}"%>
          </div>
          <div class="small">
            <%= "#{s.listing.title}" %>
          </div>
        </div>
        <div class="inbox-info">
          <% if s.confirmed.nil?%>
             <i class="far fa-clock"></i>
             <p>Awaiting <br> Response</p>
             <%= link_to "View Application",submission_path(s), class: "btn btn-success socksup-primary small" %>
          <% elsif s.confirmed == true%>
            <i class="fas fa-check"></i>
            <p id="accepted"> <strong>Accepted!</strong></p>
            <%= link_to "Messages", submission_messages_path(s), class: "btn btn-success socksup-primary small" %>
          <% else s.confirmed == false%>
            <p style="color: red;">Rejected</p>
          <% end %>
        </div>
      </div>
      <hr width="50%">
    <% end %>
  </div>
</div>
