
<div class="inbox-container"></div>
  <div class="inbox">
    <h4>Applications</h4>
    <p><%@user.submissions.reverse.each do |s|%></p>
    <div class="inbox-card">
      <div class="inbox-info inbox-info-left">
        <div class="big">
          <%= "#{s.listing.title}"%>
        </div>
        <div class="small">
          <%= "#{s.listing.start_date.strftime("%d %b %y")} - #{s.listing.end_date.strftime("%d %b %y")}" %>
        </div>
        <div class="small">
          <strong><%= "#{s.listing.employer.name}"%></strong>
        </div>
      </div>
      <div class="inbox-info">
        <% if s.confirmed.nil?%>
           <i class="far fa-clock"></i>
           <p>Awaiting <br> Response</p>
        <% elsif s.confirmed == true%>
          <i class="fas fa-check"></i>
          <p id="accepted"> <strong>Accepted!</strong></p>
          <%= link_to "Get in Touch", employer_path(s.listing.employer), class: "btn btn-success socksup-primary small" %>
        <% else s.confirmed == false%>
          <p style="color: red;">They said no :(</p>
        <% end %>
      </div>
    </div>
        <hr width="50%">
    <% end %>
  </div>
</div>
