
<div class="inbox-container"></div>
  <div class="inbox">
    <h4><strong>Applications</strong></h4>
    <p><%@user.submissions.each do |s|%></p>
    <div class="inbox-card">
      <div class="inbox-info inbox-info-left">
        <div class="big">
          <%= "#{s.listing.title}"%>
        </div>
        <div class="small">
          <%= "#{s.listing.start_date.strftime("%d %b %y")} - #{s.listing.end_date.strftime("%d %b %y")}" %>
        </div>
        <div class="small">
          <strong><%= "#{s.listing.employer.name}"%></strong>
        </div>
      </div>
      <div class="inbox-info">
        <% if s.responses.count < s.listing.quiz.questions.count %>
          Incomplete
        <% elsif s.confirmed.nil?%>
           <p>Awaiting Response</p>
        <% elsif s.confirmed == true%>
          <p>Accepted!</p>
        <% else s.confirmed == false%>
          <p style="color: red;">Not this time :(</p>
        <% end %>
      </div>
    </div>
        <hr width="50%">
    <% end %>
  </div>
</div>
