<%= simple_form_for :query, :url => listings_path, method: "get" do |f| %>
 <div class="home-form-city">
  <%= f.input :city, as: :string, required: true, placeholder:'Your dream job location', label: false, id:'input-city-homeform' %>
 </div>
 <%= f.button :submit, "Search", class: "btn btn-lg btn-success socksup-primary" %>
<% end %>

