<%= simple_form_for :query, :url => listings_path, method: "get" do |f| %>
<div class="home-form-city">
  <%= f.input :city, as: :string, required: true, placeholder:'Insert your dream city', label: false %> </div>
<%= f.button :submit, "Search", class: "btn btn-success btn-lg" %>
<% end %>
</div>
