<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url('https://images.unsplash.com/photo-1506377711776-dbdc2f3c20d9');">
  <div class="banner-content">
    <h1>Get Experience. Get Paid. <br> Get Exploring</h1>
    <p>Take quizzes to qualify for a job <br> in less than 5 minutes </p>
    <%= render "home-form" %>
  </div>
</div>
