
<h1>Here are your responses!</h1>

<% @submission.responses.each do |r| %>
  <h3><%= r.question.question %></h3>
   <h3><%= r.content %></h3>

<% end %>
<!-- add submit button javascript to change to submitted -->
<%= link_to "Submit", submit_path(@submission), method: :patch, class: "btn btn-primary", id: "submit-button", remote: :true %>
<!-- and redirect to profile page -->
