
<h1>Here are your responses!</h1>

<% @submission.responses.each do |r| %>
  <h3><%= r.question.question %></h3>
   <h3><%= r.content %></h3>

<% end %>

<%= link_to "Submit", submit_path(@submission), method: :patch, class: "btn btn-primary", id: "submit-button", remote: :true %>

<%= link_to "Back to Profile", user_path(current_user), class: "btn btn-primary" %>
