/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  position: absolute;
  width: 100vw;
  text-align: center;
  color: white;
  border: none;
}
.alert-info {
  background: $brand-green;
}
.alert-warning {
  background: $red;
}
