.socksup-primary {
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  width: 75%;
  color: white;
  background-color: $brand-green;
}

.socksup-secondary {
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  width: 75%;
  background-color: transparent;
  border: 2px solid $brand-green;
  color: $brand-green;
}

.socksup-btn-small {
    width: 25%;
  }

.response-button {
  width: 100%;
  margin-bottom: 20px;
}

.100width-button {
  width: 100%;
}
