.socksup-primary {
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  width: 75%;
  color: white;
  background-color: $brand-green;
}

.socksup-secondary {
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  width: 75%;
  background-color: transparent;
  border: 2px solid $brand-green;
  color: $brand-green;
}

.socksup-btn-small {
    width: 25%;
  }

.response-button {
  width: 100%;
  margin-bottom: 20px;
}

.100width-button {
  width: 100%;
}

.back-button-position {
  position: absolute;
    top: 10px;
    left: 20px;
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 5px #333;
    border-radius: 50%;
    width: 35px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    font-weight: lighter;
    &:focus {
      color: white;
    }
    &:active {
      opacity: 0.6;
      color: white;
      text-decoration: none;
    }
}

.chat-back-button {
  color: lightgray;
  font-size: 25px;
  &:focus {
      color: white;
    }
    &:active {
      opacity: 0.6;
      color: gray;
      text-decoration: none;
    }
}
