.card {
  background-size: cover !important;
  background-position: center;
  height: 167px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  max-width: 400px;
  margin: 10px 0;
  box-shadow: 3px 3px 15px rgba(150,150,150,0.3);
  // border-top: 5px solid $brand-green;
}

.card h2 {
  font-size: 24px;
}

.card h3 {
  font-size: 18px;
}

.card p {
  font-size: 14px;
}

.card-content {
  color: white;
}

.info {
  background: rgba(black, 0.7);
  position: relative;
  top: 95px;
  height: 55px;
}

.card-title {
  position: absolute;
  top: 5px;
  left: 5px;
  margin: 0;
}

.card-location {
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 0;
}

.card-description {
  position: absolute;
  bottom: 5px;
  left: 7px;
  margin: 0;
  font-weight: lighter;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.box {
  position: relative;
}
.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}

