.search-bar {
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  padding: 15px 15px 0px 15px;
  position: fixed;
  top: 70px;
  margin: 0px;
  background: white;
  z-index: 5;


}

  .field  {
    align-items: center;
    margin-right: 5px;
    .socksup-secondary{
      width: 100%;
    }
  }

.final{
  margin-right: 0px;
}

