// .mapboxgl-popup {
//   max-width: 200px;
// }

// .mapboxgl-popup-content {
//   text-align: center;
//   font-family: 'Open Sans', sans-serif;
// }

.horizontal {
  #map {
    height: 600px;
    width: 75vw;
    margin: 50px auto;
  }
}
