.message{
  display: flex;
  padding: 3px 0px;


}

.inbound{
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 30px;
  text-decoration: none;
  padding: 8px;
  text-align: left;
  color: white;
  background-color: $brand-green;
  max-width: 80%;
  word-wrap: break-word;


}

.outbound{
  right: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0px;
  text-decoration: none;
  text-align: right;
  margin-left: auto;
  padding: 8px;
  max-width: 80%;
  word-wrap: break-word;
  background-color: transparent;
  border: 2px solid $brand-green;
  color: $brand-green;

}

.form-box-chat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.message-input {
  border: 2px solid white;
  border-radius: 10px;
  border-bottom: 2px solid #22C6BC;
  box-shadow: none;
  align-items: center;
  height: 30px;
  width: 255px;
  margin-right: 5px;
}

.enter-message .form-group{
  margin: 0px !important;
}

.chat-button {
  width: 100%
}

.chat {
  height: 76vh;
  overflow: scroll;
}

.enter-message {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 6px solid $brand-green;
  justify-content: space-around;
  padding: 5px;
  align-items: center;
}

