html{ height: 100%;}
body{height: 100%;}
.message{
  display: flex;
  padding: 10px 0px;


}

.rel-box{
 position:relative;
}

.employer-name{
  font-size: 10px;
  position:absolute;
  left: 30px;
  color: $brand-green;
  overflow: visible;
  white-space: nowrap;
}

.a{
  &.active{
    text-decoration:none;
  }
}

.contact-information{
  position:fixed;
  top: 70px;
  margin-left: 20%;
  color: $brand-green;
  z-index: 1;
  padding: 5px;
  background-color: white;
  width: 60%;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 40%;
  border-bottom: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  text-align: center;
  text-decoration: none;

}

.inbound{
  margin-left: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 30px;
  text-decoration: none;
  padding: 8px;
  text-align: left;

  max-width: 80%;
  word-wrap: break-word;

  background-color: white;
  border: 1px solid $brand-green;
  color: $brand-green;
}

.outbound{
  margin-right: 10px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0px;
  text-decoration: none;
  text-align: right;
  margin-left: auto;
  padding: 8px;
  max-width: 80%;
  word-wrap: break-word;
  color: white;
  background-color: $brand-green;


}

.form-box-chat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.message-input {
  border: 2px solid white;
  border-radius: 10px;
  border-bottom: 2px solid #22C6BC;
  box-shadow: none;
  align-items: center;
  height: 30px;
  width: 255px;
  margin-right: 5px;
}

.enter-message .form-group{
  margin: 0px !important;
}

.chat-button {
  width: 100%
}

.chat {
  height: 100%;
  overflow: scroll;
  .textarea.form-control {
    height: 55px;
  }
  background-color: rgba(34,198,188, .1);
  padding-bottom: 80px;
  padding-top: 140px;
}

.enter-message {
  display: flex;
  bottom: 0;
  width: 100%;
  border-top: 6px solid $brand-green;
  justify-content: space-around;
  padding: 10px;

  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: white;


}

.message-avatar-side {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  bottom: -10px;


}

#message_content{
  height: 40px;
}

.avatar-relative{
  position: relative;
  margin-left: 5px;
}

.message-avatar-top {
  width: 58px;
  height:58px;
  border-radius: 50%;
  border: 3px solid $brand-green;
}

