.message{
  display:flex;
  position: relative;
  min-height: 50px;
  padding: 10px;
  align-items: center;


}

.inbound{
  position: absolute;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 30px;
  text-decoration: none;
  padding: 8px;
  text-align: left;
  color: white;
  background-color: $brand-green;

}

.outbound{
  position:absolute;
  right: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0px;
  text-decoration: none;
  text-align: right;
  padding: 8px;

  background-color: transparent;
  border: 2px solid $brand-green;
  color: $brand-green;
}

.form-box-chat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-input {
  border: 2px solid white;
  border-bottom: 2px solid #22C6BC;
  box-shadow: none;
  vertical-align: text-bottom;
  height: 40px;
  width: 255px;
}

.chat-button {
  width: 100%
}

.chat {
  position: relative;
  height: 100vh;
}

.enter-message {
  position: fixed;
  bottom: 0;
}

