.modal-center-text {
  text-align: center;
  padding: 20px;
}

.modal-button {
  margin: 10px;
}

.green-top{
  border-top: 6px solid $brand-green
}

.green-body{
    background-color: rgb(247, 251, 250);
}
