.completed-dot {
  height: 25px;
  width: 25px;
  background: #02AAB0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 50%;
  display: inline-block;
}

.incomplete-dot{
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.on-dot{
  height: 18px;
  width: 18px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.progress-flex {
  display: flex;
  justify-content: center;
}

.progress-bar{
 width: 334px;
 display: flex;
 background-color: white;
 justify-content: space-around;
 box-shadow: none;
 height: 30px;
 align-items: center;
 margin-top: 20px;
 margin-bottom: 20px;
}

.inline input {
  display: none;
}

#question-form{
  text-align: center;
  padding: 15px;
}
.inline {
  background-color: white;
  border: 2px solid $brand-green;
  margin: 10px auto;
  text-align: center;
  height: 80px;
  border-radius: 30px;
  max-width: 400px;

}

.warning{
  text-size: 18px;
  color: rgb(239, 71, 130);
}

.text-field{
  text-align: left;
  width: 100%;
  height: 85px;
}

.inline label {
  padding-top: 25px;
  height: 100%;
  width: 100%;
  border-radius: 26px;
  &.active {
    background-color: $brand-green;
    color: white;
  }
}

.quiz-button {
  margin: 15px;
}

.question {
  margin-top: 10px;
  text-align: center;
}

#actual-question{
  margin: 0px;
}

