.inline input {
  display: none;
}

#question-form{
  text-align: center;
  padding: 15px;
}
.inline {
    background-color: white;
    border: 2px solid $brand-green;
    margin: 10px auto;
    text-align: center;
    height: 80px;
    border-radius: 30px;
    max-width: 400px;

}
.text-field{
  text-align: left;
  width: 100%;
  height: 85px;
}

.inline label {
  padding-top: 25px;
  height: 100%;
  width: 100%;
  border-radius: 26px;
  &.active {
    background-color: $brand-green;
    color: white;
  }
}

.quiz-button {
  margin-top: 35px;
}

.question {
  margin-bottom: 35px;
  margin-top: 10px;
}


