.inbox-container{
  width: 100%;
  padding: 20px;
}

.inbox{
  background-color: white;
  border-radius: 0px 10px 10px 0px;
  padding-top: 25px;
  margin: 0px;


  .inbox-card{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    text-align: center;
    align-items: center;
    padding:15px;

    .inbox-info{
      font-size: 18px;

      .big{
        font-size: 25px;
        margin-bottom: 5%;

      }

      .small{
        font-size: 14px


      }
    }
  }
}
